.body
  font-family: "Helvetica Neue", Helvetica, Arial

.harpoon-brand 
  width: 100px
  height: 80px
  background:  url('/assets/Harpoon Logo Icon.png') no-repeat
  background-size: contain
  margin: 0

.harpoon-navbar
  background: #fff

  .navbar-nav
    & > li
      & > a
        padding-top: 30px

.welcome-text
  color: #555
  background-size: cover

.get-started
  background: #ea5151
  padding: 100px 0

.details
  padding: 80px 0
  background: #383838
  color: #fff

.details-icon
  color: #ea5151
  font-size: 80px

.details-link
  color: #ea5151

.links-container
  background: #1e1e1e
  color: #939393
  padding: 20px 0

.links-container-header
  margin: 0 0 10px 10px
  color: #fff

.links-container-list-item
  margin: 10px 0

  & > a
    color: #939393

    &:hover
      color: darken(#939393, 0.9)

.links-container-get-started 
  background: #ea5151

.building-bg
  background:  url('/assets/building.jpg') no-repeat
  background-size: cover
  padding: 100px 0
  width: 100%