.container
  .panel
    .panel-body
      form
        .form-group
          label.form-label Email
          input.form-control.input-lg(type='email', placeholder='e.g. patrick@example.com')
        button.btn.btn-success(type='submit') Submit