doctype html
html(lang="en")
  head
    title jade-practice
    meta(charset='UTF-8')
    meta(content='', name='description')
    meta(content='', name='author')
    meta(content='3 days', name='revisit-after')
    meta(content='width=device-width, initial-scale=1' name='viewport')

    // build:css /styles/main.css
    link(href='/bower_components/bootstrap/dist/css/bootstrap.css', rel='stylesheet')   
    link(href='/bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet') 
    link(href='/styles/main.css', rel='stylesheet')
    // endbuild

  body(class=page)
    nav.navbar.navbar-default.harpoon-navbar(role='navigation')
        .container
            .navbar-header
                button(type="button" class="navbar-toggle collapsed" data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
                    span.icon-bar
                a.navbar-brand.harpoon-brand(href='/')
            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.dropdown
                        a(href="#", data-toggle='dropdown').dropdown-toggle Products and Services
                            span.caret
                        ul.dropdown-menu(role='menu')            
                            li  
                                a(href='#') Products and Services
                            
     
    block content

    // Footer
    footer

    // build:js /scripts/all.js
    
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')   
    script(src='/bower_components/angular/angular.min.js')
    script(src='/bower_components/angular-route/angular-route.min.js')
    //script(src='/scripts/main.js')
    script(src='/scripts/all.js')
    // endbuild